body {
	background: linear-gradient(
		180deg,
		#f1f5f8 0%,
		#ebf3fa 0.01%,
		#dde7f3 53.92%,
		#e6f0f9 100%
	);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title-container {
	width: 311px;
	height: var(--default-height);
	margin-bottom: 30px;

	box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.54), -4px -2px 16px #ffffff;
	border-radius: 16px;

	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 100%;
}

input[type='color'] {
	width: 250px;
	height: 250px;

	background: var(--main-color);
	padding: 10px;

	box-shadow: 16px 10px 48px rgba(136, 165, 191, 0.58), -16px -2px 56px #ffffff;
	border: 4px solid var(--main-color);
	border-radius: 50%;
}

input[type='color']::-webkit-color-swatch {
	border: none;
	border-radius: 50%;

	box-shadow: 16px 10px 48px rgba(136, 165, 191, 0.58), -16px -2px 56px #ffffff;
}

button {
	background: var(--main-color);

	box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.54), -4px -2px 16px #ffffff;
	border: 2px solid var(--main-color);
	border-radius: 16px;

	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 100%;
}

.main-button {
	width: 311px;
	height: var(--default-height);
	margin: 25px 0;
}

.result-container {
	width: 540px;
	height: var(--default-height);

	box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.54), -4px -2px 16px #ffffff;
	border-radius: 16px;
	padding: 0 20px;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.result-container p {
	font-style: normal;
	font-size: 18px;
	line-height: 100%;
}

.tooltip {
	margin-left: 15px;
}

.result-container button {
	width: 36px;
	height: 36px;

	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
